* {
	margin: 0;
	padding: 0;
}
/* Message container */
html {
	height: 100%;
}
body {
	font: normal normal normal 14px/1.2 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #fff;
	color: #333;
	position: absolute;;
	top:1rem;
	bottom:1rem;
	right:1rem;
	left:1rem;
}

/* Messages */

#content {
	max-width: 800px;
	height: 100%;
	max-height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#message_flex {
	flex: 1;
	padding: 1rem 0.3rem;
	overflow: hidden;
}

#messages_container {
	height: 100%;
	overflow: auto;
}

#messages {
	display: table;
	width: 100%;
	border-spacing: 0 1rem;
}
#messages > div {
	display: table-row;
}
#messages time::before { content: '['; }
#messages time::after { content: ']'; }
#messages time {
	display: table-cell;
	color: #888;
	text-align: left;
	width: 6rem;
}
#messages .person {
	display: table-cell;
	min-width: 5rem;
	width: 20%;
	text-align: right;
	padding: 0 0.5rem;
	color: #234788;
}
#messages .content {
	display: table-cell;
	border-left: 1px #ccc solid;
	padding-left: 0.5rem;
}

#messages .sent .person { color: #c72c31; }
#messages .sent .content { color: #5c5c5c; }


#compose_area {
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
}
#compose_area #name {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.2rem 1rem;
}
#compose_area #message {
	flex: 1;
	padding: 0.5rem;
	font-size: 1rem;
	border: solid 1px #999;
	border-right: none;
}
#compose_area a#send_btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1;
	padding: 0.2rem 1rem;
	font-size: 1.2rem;
	border: none;
	background: #159;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#compose_area a#send_btn:active {
	color: #bdf;
}

/* Modal Boxes */

#shade {
	background: rgba(0, 0, 0, 0.6);
	position: fixed; /* Relative to view port (If user scrolls, we want the window)*/
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.6) 0 0 40px;
	padding: 1em;
}
.modal h2 {
	font-size: 1.5rem;
	color: #333;
	border-bottom: #777 1px solid;
	margin: 0 0 1.5rem 0;
	padding: 0 2.5em 0.4rem 0;
}

.modal .input_area {
	display: flex;
}
.modal .input_area .info {
	flex: 1;
	padding: 0.5rem;
	font-size: 1rem;
	border: solid 1px #999;
	border-right: none;
	text-align: center;
}
.modal .input_area a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1;
	padding: 0.2rem 1rem;
	font-size: 1.2rem;
	border: none;
	background: #159;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.modal .input_area a:active {
	color: #bdf;
}

.modal p {
	margin-bottom: 0.3rem;
}

/*
	Web App FSM States:
		get_name
		show_url
		wait_for_connection
		disconnected
		messaging
*/

/* Shade in the background */
body.get_name #shade,
body.show_url #shade,
body.wait_for_connection #shade,
body.disconnected #shade { /* Show shade overlay */
	transition: opacity linear 0.25s;
	z-index: 10;
	opacity: 1;
}
/* When to hide the shade */
body.messaging #shade {
	transition: opacity linear 0.25s;
	z-index: -20;
	opacity: 0;
}

/* Modal windows */
.modal { /* Hide popup windows normally */
	/* Finish opacity transition before ever seeing window move. */
	transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s;
	z-index: -10;
	opacity: 0;
	top: -50%;
}
body.messaging .modal {
	/* Move window out of way before ever seeing opacity transition. */
	transition: top 0.25s linear 0s, opacity 0.25s linear 0.25s;
}
body.get_name #get_name, body.show_url #show_url,
body.wait_for_connection #wait_for_connection,
body.disconnected #disconnected { /* Show popup windows */
	/* Show windows by opacity transition alone */
	transition: opacity 0.25s linear 0s;
	z-index: 20;
	opacity: 1;
	top: 50%;
}

/* Composition Bar */
/* #compose_area {
	visibility: hidden;
}
body.messaging #compose_area {
	visibility: visible;
} */